.main-header {
    background-color: #3f51b5;
    /* Un joli bleu Angular */
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}