<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Nom"
        [ngClass]="{
            'invalid': name?.invalid && (name?.dirty || name?.touched),
            'valid': name?.valid && (name?.dirty || name?.touched)
        }">
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-message">
        <span *ngIf="name?.hasError('required')">
            Ce champ est requis.
        </span>
        <span *ngIf="name?.hasError('minlength')">
            Le nom doit faire au moins 3 caractères.
        </span>
    </div>

    <input
        type="number"
        id="price"
        formControlName="price"
        placeholder="Prix"
        [ngClass]="{
            'invalid': price?.invalid && (price?.dirty || price?.touched),
            'valid': price?.valid && (price?.dirty || price?.touched)
        }">
    <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="error-message">
        <span *ngIf="price?.hasError('required')">
            Le prix est requis.
        </span>
        <span *ngIf="price?.hasError('min')">
            Le prix doit être positif ou nul.
        </span>
    </div>

    <input
        type="date"
        id="releaseDate"
        formControlName="releaseDate"
        placeholder="Date de création"
        [ngClass]="{
            'invalid': releaseDate?.invalid && (releaseDate?.dirty || releaseDate?.touched),
            'valid': releaseDate?.valid && (releaseDate?.dirty || releaseDate?.touched)
        }">

    <label>
        <input
            type="checkbox"
            id="inStock"
            formControlName="inStock">
        En stock
    </label>

    <button 
        type="submit" 
        [disabled]="productForm.invalid">
            Créer le produit
    </button>
</form>

<pre>État du formulaire : {{ productForm.value | json }}</pre>
<p>Valide ? : {{ productForm.valid }}</p>
