<header>
  <h1>{{ title }}</h1>
  <nav class="navigation">
    <button
      (click)="showProducts()"
      [class.active]="currentView === 'products'">
      Voir Produits
    </button>
    <button
      (click)="showUsers()"
      [class.active]="currentView === 'users'">
      Voir Équipe
    </button>
  </nav>
</header>

<main>
  <!-- SECTION 1 : Le travail du matin (TP 1-3) -->
  <section class="catalog-section" *ngIf="currentView === 'products'">
    <app-product-create></app-product-create>
    <app-product-search></app-product-search>
    <app-product-list></app-product-list>
  </section>

  <!-- SECTION 2 : Le travail de l'après-midi (TP 4) -->
  <section class="team-section" *ngIf="currentView === 'users'">
    <app-user-list></app-user-list>
  </section>
</main>
